@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

#Contacto{
    order: 1;
}

#Ranking{
    order: 2;
}

#Promoción{
    order: 3;
}

header{
    height: 100px;
}

footer{
    height: 150px;
}

.menu-and-logo{
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main{
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    height: 350px;
    width: 100%;
    margin: 40px 30px;
    display: flex;
    justify-content: space-between;
}

.promo{
    height: 100%;
    display: flex;
    border-radius: 6px;
    margin-right: 3px;
}

.promo img{
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.msj-promo{
    margin-left: 70px;
    margin-top: 15px;
    position: absolute;
    justify-self:center;
}

.top-five-container{
    /* flex-grow: 0.5; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.top-five-section{
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-left: 3px;
}

.promo, .top-five-section{
    width: 50%;
    text-align: center;
}

h2.red-text{
    margin-top: 30px;
}

.menu-top-five ol li{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    padding: 5px;
}

.PizzaFalling-container{
    margin-top: 20px;
}

.menu-top-five ol{
 margin-top: 20px;
}

.logo{
    margin: 0 20px;
    display: flex;
    align-items: center;
}

h1{
    padding-left: 10px;
}

.green-text{
    color: #39B24A;
}

.white-text{
    color: #FFFFFF
}

.red-text{
    color: #FC200C;
}

.main-nav{
    display: flex;
    align-items: center;
}
.main-nav ul{
    display: flex;
    margin: 0 20px;
}

.main-nav ul li a{
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
}

footer .main-nav ul{
    align-items: start;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.main-nav li{
    list-style: none;
    padding: 9px;
}

footer .main-nav li{
    padding: 0;
}
